.favlistSettingMylist {
    display: table-row;
    position: relative;
}

.favlistSettingMylistLink,
.favlistSettingMylistTitle,
.favlistSettingMylistButtons {
    display: table-cell;
    padding: 10px 0 0 10px;
    vertical-align: middle;
    white-space: nowrap;
}

.favlistSettingMylistLink a {
    display: block;
}

.favlistSettingMylistTitle {
    width: 100%;
}
.favlistMylistTitleEdit {
    width: 100%;
}

.favlistSettingMylistButtons {
    padding-right: 10px;
}
.favlistSettingMylistButtons button {
    font-size: 10px;
    vertical-align: middle;
}
.favlistSettingMylistMoveButtons {
    display: inline;
}
.favlistSettingMylistMoveButtons button {
    padding: 2px 3px;
    background: none;
    font-family: sans-serif;
    color: #666;
}
.favlistSettingMylistMoveButtons button.disabled,
.favlistSettingMylistMoveButtons button[disabled] {
    visibility: hidden;
}
.favlistSettingMylistMoveButtons button:hover {
    background: #37992b;
    color: #fff;
}
.favlistSettingMylistMoveButtons button:active {
    background: #0e4d17;
    color: #fff;
}
.favlistMylistRemoveButton {
    padding: 2px 5px;
    margin-left: 10px;
}
