.favlistConfigItems {
    list-style-type: none;
}
.favlistConfigItems li {
    margin-bottom: 10px;
}
.favlistConfigItems li label {
    color: #333;
}
.favlistConfigItems .favlistConfigText {
    margin-left: 10px;
}
