<div class="favlistSettingMylist">
    <div class="favlistSettingMylistTitle">
        <input class="favlistMylistTitleEdit" type="text" value="" />
    </div>
    <div class="favlistSettingMylistButtons">
        <button class="favlistMylistMoveUpButton" title="1つ上に移動">▲</button>
        <button class="favlistMylistMoveDownButton" title="1つ下に移動">▼</button>
        <button class="favlistMylistMoveTopButton" title="一番上に移動">↑</button>
        <button class="favlistMylistRemoveButton" title="favlist への登録を解除">削除</button>
    </div>
</div>
