<div class="favlistSettingsView">
    <div class="favlistSettingOverlay"></div>
    <div class="favlistSettingsDialog">
        <div class="favlistSettingMylistSearch">
            <label>
                <span>検索</span>
                <input class="favlistSettingMylistSearchEdit" type="search" value="" placeholder="マイリスト名 または URL" />
            </label>
        </div>

        <div class="favlistSettingMylistsOuter">
            <div class="favlistSettingMylists">
            </div>
        </div>

        <form class="favlistConfig" action="javascript:void(0);">
            <ul class="favlistConfigItems">
                <li><label>更新チェック間隔 <input type="text" class="favlistConfigText favlistConfigCheckInterval" value="" size="6" /> 秒</label></li>
                <li><label>新着動画の表示数 <input type="text" class="favlistConfigText favlistConfigMaxNewVideos" value="" size="6" /> 件まで</label></li>
                <li><label><input type="checkbox" class="favlistConfigCheckbox favlistConfigHideCheckedList" value="1" /> 新着がないマイリストを隠す</label></li>
                <li><label><input type="checkbox" class="favlistConfigCheckbox favlistConfigOrderDescendant" value="1" /> 動画を新しい順に並べる</label></li>
            </ul>
        </form>

        <div class="favlistSettingsButtons">
            <button class="favlistButtonSave favlistSaveSettingsButton">設定を保存</button>
            <button class="favlistCancelSettingsButton">キャンセル</button>
        </div>
    </div>
</div>
