.favlistViewRescue {
    position: fixed;
    width: 360px;
    height: 360px;
    right: 10px;
    bottom: 10px;
    overflow: auto;
    background-color: white;
    border: 1px solid #cccccc;
}

.favlistRescueCaption {
    font-size: 12px;
    color: #cc0000;
}

.favlistRescueOpen,
.favlistViewRescue.closed .favlistRescueClose {
    display: none;
}
.favlistViewRescue.closed .favlistRescueOpen {
    display: inline;
}
