<div class="favlistMylist">
    <div class="favlistMylistInner">
        <div class="favlistMylistHeader">
            <div class="favlistMylistTitleLabel">
                <span class="favlistMylistNewCountLabel">
                    (<span class="favlistMylistNewCount"></span>)
                </span>
                <a href="#" class="favlistMylistTitle favlistMylistLink"></a>
            </div>
            <div class="favlistMylistButtons">
                <button class="favlistMylistClearButton">クリア</button>
            </div>
            <div class="favlistMylistStatus">
                <span class="waiting">待機中</span>
                <span class="updating">更新中</span>
                <span class="private">非公開</span>
                <span class="deleted">削除された</span>
                <span class="error">更新失敗</span>
            </div>
        </div>
        <div class="favlistMylistVideos">
        </div>
    </div>
</div>
