.favlistMylistsView {
    padding: 10px;
    position: relative;
}

.favlistNoMylist {
    display: none;
}
.noMylist .favlistNoMylist {
    display: block;
}

.favlistNoMylistTitle {
    padding: 30px;
    text-align: center;
    color: #cccccc;
}

.noMylist .favlistMylists {
    display: none;
}
.noMylist .favlistMylistsButtons {
    display: none;
}

.favlistMylistsButtons button {
    margin-right: 4px;
}
