.favlistVideo {
    margin: 8px 4px 0;
}

.favlistVideoHeader {
    display: table;
    width: 100%;
}

.favlistVideoThumbnail {
    display: table-cell;
    vertical-align: middle;
    padding-right: 8px;
}
.favlistVideoThumbnail a img {
    border: none;
    width: 46px;
    height: 34px;
}

.favlistVideoInfo {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    font-size: 11px;
}
.favlistVideoTitle {
    margin-right: 4px;
}
.favlistVideoTimestamp {
    font-size: 9px;
    color: #999;
    white-space: nowrap;
}

.favlistVideoMemo {
    margin-top: 4px;
    padding: 4px 8px;
    border-radius: 2px;
    background: #efefef;
    box-shadow: 1px 1px 1px #ccc;
    cursor: pointer;
}
.favlistVideoMemo:hover {
    background: #f3f3f3;
}

.favlistVideoMemoText {
    display: block;
    max-height: 28px;
    overflow: hidden;
    font-size: 10px;
}
.favlistVideoMemo.expanded .favlistVideoMemoText {
    white-space: pre;
    max-height: none;
}
