<div class="favlistSettingMylist">
    <div class="favlistSettingMylistLink">
        <a class="favlistMylistLink" href="" title="別ウィンドウで開く" target="_blank">開く</a>
    </div>
    <div class="favlistSettingMylistTitle">
        <input class="favlistMylistTitleEdit" type="text" value="" />
    </div>
    <div class="favlistSettingMylistButtons">
        <div class="favlistSettingMylistMoveButtons"><!--
            --><button class="favlistMylistMoveUpButton" title="1つ上に移動">▲</button><!--
            --><button class="favlistMylistMoveDownButton" title="1つ下に移動">▼</button><!--
            --><button class="favlistMylistMoveTopButton" title="一番上に移動">↑</button><!--
        --></div>
        <button class="favlistMylistRemoveButton favlistButtonDelete" title="favlist への登録を解除">削除</button>
    </div>
</div>
