<div class="favlistMylist">
    <div class="favlistMylistHeader">
        <div class="favlistMylistTitle"></div>
        <div class="favlistMylistNewCountLabel">
            (<span class="favlistMylistNewCount"></span>)
        </div>
        <div class="favlistMylistButtons">
            <button class="favlistMylistClearButton">クリア</button>
        </div>
        <div class="favlistMylistStatus">
            <span class="updating">更新中</span>
            <span class="private">非公開</span>
            <span class="failed">更新失敗</span>
        </div>
    </div>
    <div class="favlistMylistVideos">
    </div>
</div>
