.favlistRegister {
    display: inline-block;
}

.favlistRegister,
.registered .favlistUnregisterButton {
    display: inline-block;
}
.registered .favlistRegisterButton,
.favlistUnregisterButton {
    display: none;
}

.favlistRegister button {
    padding: 4px 10px;
    color: white;
    border: none;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    background: #435d69;
}
.favlistRegister button:hover {
    background: #4f6d7b;
}
.favlistRegister button:active {
    background: #3d5560;
}

.favlistRegisterButton span {
    color: #fc3;
}

.favlistUnregisterButton span {
    color: #ff6462;
}
