.favlistSubscribeView {
    display: inline-block;
}

.favlistSubscribeView,
.favlistSubscribeView.subscribed .favlistUnsubscribeButton {
    display: inline-block;
}
.favlistSubscribeView.subscribed .favlistSubscribeButton,
.favlistUnsubscribeButton {
    display: none;
}

.favlistSubscribeView button {
    padding: 4px 10px;
    color: white;
    border: none;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    background: #435d69;
}
.favlistSubscribeView button:hover {
    background: #4f6d7b;
}
.favlistSubscribeView button:active {
    background: #3d5560;
}

.favlistSubscribeButton span {
    color: #fc3;
}

.favlistUnsubscribeButton span {
    color: #ff6462;
}
