<div class="favlistVideo">
    <div class="favlistVideoHeader">
        <div class="favlistVideoThumbnail">
            <a href="" title="" class="favlistVideoLink"><img src="" /></a>
        </div>
        <div class="favlistVideoInfo">
            <a href="" title="" class="favlistVideoLink favlistVideoTitle"></a>
            <span class="favlistVideoTimestamp"></span>
        </div>
    </div>
    <div class="favlistVideoMemo">
        <div class="favlistVideoMemoText"></div>
    </div>
</div>
